@tailwind base;
@tailwind components;
@tailwind utilities;

.head-title {
  font-family: Galano Grotesque;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  text-align: center;
}

.active {
  font-family: Galano Grotesque;
  font-size: 18px;
  font-weight: 800;
  font-style: bold;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff0d87;
}
